.testMode {
    text-align: center;
}

.header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.margin_icon {
    margin: 4px;
}
.size {
    --padding-start: 0px;
    --padding-end: 0px;
    height: 16px;
    width: 16px;
}

.custom-select {
    width: 0;
}

.giga_meter_logo {
    max-width: 97px;
    height: auto;
    cursor: pointer;
    padding: 8px;
}

.selected-label {
    display: flex;
    text-decoration: underline !important;
    align-items: center;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }

    .language-icon {
        width: 16px; // Adjust as needed
        height: 16px;
    }
}
.bold-text {
    font-weight: bold;
  }
