@import '../../../theme/variables.scss';

.btn-holder {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.yesbtn {
  height: 40px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400 !important;
  font-size: 14px !important;
  border-radius: 40px !important;
  overflow: hidden;
  color: #fff !important;
  background: var(--ion-color-primary);
}

.font_size {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

.error-msg {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}

.footer_button {
  padding-inline-start: 0;
  padding-inline-end: 0;
  --padding-end: 0;
  --padding-start: 0;
}

.label_top {
  --padding-start: 0;
  margin-top: 12px;
}

.custom-gray-item {
  --background: #E5E5E5;
  display: flex;
  height: 48px;
  padding: 15px 16px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-bottom: 1px solid #6F6F6F;
}
