@import "../../../theme/variables.scss";

.centerPos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f4f5f8;
}

.center-pos {
  border: none !important;
}
.subtitle {
  font-size: 10px;
  color: #474747 !important;
  /* Lighter gray color */
  margin-bottom: 4px;
  font-weight: 700;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: black;
  /* Ensure the main text is white */
}

.custom-item {
  --color: black;
  /* Set text color */
  border-radius: 8px;
  width: 100%;

}

.horizontal-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 16px;
  background: #f4f5f8;

  ion-item {
    height: 42px;
    --padding-start: 8px;
    flex: 1;
    border-left: 1px solid gray;
    /* Divider line */
    --background: transparent;
  }

  ion-label h3,
  ion-label p {
    /* Change as per your theme */
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    color: #474747;
  }

  ion-label h3 {
    color: #9E9E9E;
  }
}

.test_history {
  font-size: 16px;
  font-weight: 400;
  color: #474747 !important;
}

.table-header {
  ion-col {
    font-weight: 400;
    font-size: 10px;
  }
}

ion-row {
  padding: 0.5rem 0;
  font-size: 10px;
  font-weight: 400;
  color: #474747;


}

ion-col {
  display: flex;
  align-items: center;

  &.green_color {
    color: #42BE65;
  }

  /* Optional text alignment: */
  /* justify-content: center; */
}

.card_margin {
  margin: 0;
  box-shadow: none !important;
  border: 4px;
  background: #F5F5F5;
}

.footer_card_margin {
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: none !important;
  background: #F5F5F5;
}

.position {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 7px;
  margin-top: 0;
  margin-bottom: 0;
}
.last_location_card {
  margin: 4px 0 16px;
  border-radius: 6px;
  background: #f4f5f8;
  box-shadow: none !important;
  padding: 10px 14px;
}

.last_location_content {
  display: flex;
  justify-content: space-between;
}

.left_section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label_row {
  display: flex;
  gap: 4px;
  color: #979696;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
  letter-spacing: 0.32px;
}

.info_icon {
  font-size: 14px;
  color: #9e9e9e;
}

.location_link {
  cursor: pointer;
  font-size: 11px;
  color: #3880ff;
  text-decoration: none;
  font-weight: 400;
  line-height: 24px; /* 218.182% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  &:hover {
    text-decoration: underline;
  }
}

.right_section {
  color: #474747;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px; 
}

.tooltip {
  position: relative;
  display: inline-block;

  .tooltip_text {
    visibility: hidden;
    background: #f4f5f8;
    color: #474747;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #474747;
    font-size: 11px;
    // position: absolute;
    bottom: 125%; /* just above the icon */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    white-space: nowrap;
    z-index: 1000;
  }

  &:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
  }
}

.info_icon {
  font-size: 16px;
  color: #9e9e9e;
  cursor: pointer;
}
