@import '../../theme/variables.scss'; 
  
  .container{
    margin: 10px 25px 0px 25px;
    height:90%;
    min-height: 88%;   
    background-size: 100% 100%;    
    border-radius: 0px 0px 10px 10px;
  }
 .schoolsuccess{  
    --bullet-background: #eee;
    --bullet-background-active: #51E12B;
    height: 90%;
  }
 .swiper-slide {
   height: 70% !important;
  }
  ion-label{
    font-size: 12px;
  }
 .label-txt{
    color: $text-color;
    font-size: 20px;
  }
  .successInfo{
    padding-top: 10px;
    ion-img{  
      width: auto !important;     
      margin: 20px auto;
      display: flex;
      justify-content: center;
    }
    .icon1{
      width:124px !important;
    }
    .icon2{
      width:110px !important;
    }
    .icon3{
      width:125px !important;
    }
    .success-txt{
      color: #46C66D;
      text-align: center;
      padding-top: 15px;
      font-size: 20px;
      text-transform: unset;
      font-weight: 400;
    }
    .success-desc-txt{
      color: #46C66D;
      text-align: center;
      padding-top: 16px;
      font-size: 14px;
      font-weight: 400;
    }
  }  
  .bottom-layout{
    padding: 0px 0px;
    bottom: 24px !important;
  }
 

  .btn_margin {
    margin-inline-end: 0;
    margin-inline-start:0;
    font-weight: 400;
    font-size: 14px;
  }
  ::ng-deep .swiper-pagination-bullet {
    margin: 0 4px;
  }
  .swiper-pagination {
    left: 0;
    width: 100%;
  }