.circular-progress-container {
  position: relative;
  width: 110px;
  height: 110px;
  cursor: pointer;
  margin-top: 12px;
}

.circular-progress-svg {
  width: 120%;
  height: 120%;
  margin-left: -13px;
  margin-top: -13px;
}

.circle-background {
  // stroke: #46C66D;
  stroke-width: 4;

  &.error {
    stroke: #F94B4B;
    --color: #F94B4B !important;
    color: #F94B4B !important;
  }

  &.green {
    stroke: #46C66D;
  }

  &.gray {
    stroke: #fff;
  }
}

.circle-progress {
  stroke: #46C66D;
  stroke-width: 4;
  transition: stroke-dashoffset 350ms;
  transform: rotate(90deg);
  transform-origin: 50% 50%;

  &.error {
    stroke: red;
  }

  &.green {
    stroke: #46C66D;
  }

  &.gray {
    stroke: #fff;
  }
}

.second-label {
  position: relative;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  color: black;
}

.progress-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  75%,
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.ping-animation {
  position: absolute;
  width: 40px; // Adjust as needed
  height: 40px;
  background-color: rgba(70, 198, 109, 0.1);
  border-radius: 50%;
  height: 130px;
  width: 130px;
  margin-left: -5px;
    margin-top: -5px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(81, 225, 43, 0.2); // Semi-transparent blue
    animation: ping 1s infinite;
  }
}

.error_text {
  --color: #F94B4B !important;
}

.fill-color-text-error {
  fill: #F94B4B;
}

.fill-white {
  fill: #222222;
}

.fill-color-tertiary {
  fill: #222222
}

.fill-green {
  fill: #46C66D;
}

.circular-progress-container {
  width: 120px;
  height: 120px;
}

.ping-animation {
  width: 130px;
  height: 130px;

  &::after {
    width: 100%;
    height: 100%;
  }
}