.circular-progress-container {
  position: relative;
  width: 110px;
  height: 110px;
  cursor: pointer;
  margin-top: 12px;
}

.circular-progress-svg {
  width: 120%;
  height: 120%;
  margin-left: -13px;
  margin-top: -13px;
}


.spinner-background {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: rotate 1s infinite ease-in-out;


  background: conic-gradient(
    #46C66D 0%,
    #F5F5F5 30%,
    #F5F5F5 60%,
    #46C66D 100%
  );

  -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - 4px),
      black calc(100% - 4px)
  );
  mask: radial-gradient(
      farthest-side,
      transparent calc(100% - 4px),
      black calc(100% - 4px)
  );

   opacity: 0;
  transition: opacity .25s;

}

.spinner-background.visible {
  opacity: 1;
}


@keyframes spinnerRotate {
  to {
    transform: rotate(360deg);
  }
}


.second-label {
  position: relative;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  color: black;
}

.progress-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  75%, 100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.ping-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 130px;
  background-color: rgba(70, 198, 109, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(81, 225, 43, 0.2);
    animation: ping 1s infinite;

  }
}

.error_text {
  --color: #F94B4B !important;
}

.fill-color-text-error {
  fill: #F94B4B;
}

.fill-white {
  fill: #222222;
}

.fill-color-tertiary {
  fill: #222222;
}

.fill-green {
  fill: #46C66D;
}


@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}


