<div role="button" class="circular-progress-container" (click)="handleClick()">
  <div class="ping-animation" *ngIf="(progressValue === 0 || secondLabel === 'TEST AGAIN') && !error"></div>

  <svg class="circular-progress-svg" viewBox="0 0 100 100">


<foreignObject x="4" y="4" width="92" height="92">
  <div
    class="spinner-background"
  [style.opacity]="(secondLabel === 'DOWNLOAD' || secondLabel === 'UPLOAD') ? 1 : 0">
  </div>
</foreignObject>


    <image *ngIf="secondLabel === 'DOWNLOAD'" href="assets/images/download_meter.svg" width="8" height="8" x="15" y="36" />
    <image *ngIf="secondLabel === 'UPLOAD'" href="assets/images/upload_meter.svg" width="8" height="8" x="24" y="36" />

    <text *ngIf="secondLabel === 'DOWNLOAD' || secondLabel === 'UPLOAD'"
      x="54" y="44" [attr.font-size]="10"
      text-anchor="middle" alignment-baseline="top" [attr.font-weight]="400"
      [ngClass]="getTextClass()">
      {{ secondLabel === 'DOWNLOAD' ? ('startTest.download' | translate) : ('startTest.upload' | translate) }}
    </text>


    <text *ngIf="!error && !secondLabel" x="50" y="50" [attr.font-size]="16"
      text-anchor="middle" alignment-baseline="top"
      [ngClass]="getTextClass()" [attr.font-weight]="400">
      {{ firstLabel ? ('startTest.start' | translate) : '' }}
    </text>

    <text *ngIf="!error && !secondLabel" x="50" y="62" [attr.font-size]="16"
      text-anchor="middle" alignment-baseline="middle"
      [ngClass]="getTextClass()" [attr.font-weight]="400">
      {{ firstLabel ? ('startTest.test' | translate): ''}}
    </text>


    <text *ngIf="error" x="51" y="46" [attr.font-size]="12"
      text-anchor="middle" alignment-baseline="top"
      [attr.font-weight]="400" [ngClass]="getTextClass()">
      TRY AGAIN
    </text>

    <text *ngIf="completed" x="50" y="50" [attr.font-size]="12"
      text-anchor="middle" alignment-baseline="middle"
      [attr.font-weight]="400" [ngClass]="getTextClass()">
      TRY AGAIN
    </text>


    <text *ngIf="secondLabel === 'UPLOAD'"
      [attr.x]="currentRateUpload < 10 ? 32 : currentRateUpload > 99.9 ? 22 : 27"
      y="62" [attr.font-size]="18"
      text-anchor="bottom"
      [attr.font-weight]="700"
      [ngClass]="getGreenColorClass()" alignment-baseline="middle">
      {{ currentRateUpload && currentRateUpload | number: '1.2-2'}}
    </text>

    <text *ngIf="secondLabel === 'DOWNLOAD'"
      [attr.x]="currentRateDownload < 10 ? 32 : currentRateDownload > 99.9 ? 22 : 27"
      y="62" [attr.font-size]="18"
      text-anchor="bottom"
      [attr.font-weight]="700" alignment-baseline="middle"
      [ngClass]="getGreenColorClass()">
      {{ currentRateDownload && currentRateDownload | number: '1.2-2'}}
    </text>

    <image *ngIf="error" href="assets/images/test_error.svg"
      width="16" height="16" x="41" y="55" />
  </svg>

</div>
