@import '../../theme/variables.scss';

ion-label {
  font-size: 12px;
}

.provide-id {
  margin-top: 20px;
}

.school-label {
  margin-top: 20px;
}

.schoolid-input {
  margin-top: 20px;
}

.label-txt {
  color: $text-color;
  font-size: 16px;
  padding-left: 10px;
  font-weight: 400;
}

.selectandconfirm {
  color: $text-color;
  font-size: 16px;
  margin-top: 15px;
  font-weight: 400;
}

.result-txt {
  color: #2779FF;
  font-size: 16px;
}

.schoolID-txt {
  color: $color-black;
  font-size: 14px;
  font-weight: 400;
}

.school_item {
  margin-bottom: 8px;
  border: 1px solid #A8A8A8;
  border-radius: 4px;
}

.schoolName {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

.schoolAddress {
  font-size: 12px;
}

ion-list {
  border-bottom: 1px solid #42516E;
  padding-left: 10px;


}

ion-radio {
  align-self: baseline;
}

.ionListContainer {
  position: absolute;
  padding: 0px 0 10px 0;
  margin: auto;
  top: 185px;
  left: 0;
  bottom: 0;
  right: 0;
}

.ionList {
  -webkit-app-region: no-drag;
  margin-top: 10px;
  --ion-background-color: $background-bg-color;
  overflow-y: auto;
  width: 100%;
  
  height: 75%;
  padding: 0px 0px 0px 0px;
  scrollbar-width: thin;

  ion-label {
    color: $text-color;
    border: none !important;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    white-space: normal;

    .schoolAddress {
      font-size: 10px;
    }

    .streetName {
      font-size: 10px;
      padding-top: 5px;
    }
  }

}

.noSchoolList-txt {
  cursor: pointer;
  padding-top: 20px;
  color: $light-text1;
  font-size: 11px;
}

.bottom-layout {
  padding: 0px 0;
}

.top-layou {
  height: 100%;
}

.schoolName {
  width: 100%;
  color: black;
}

.SchoolIDField {
  height: 46px;
  display: flex;
  align-items: center;
  // background: #f3f3f3;
  border-bottom: 1px solid #919090;
  border-radius: 4px;
  padding: 0 15px;
}

.searchButton {
  text-transform: unset;
  width: 100%;
  height: 40px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600 !important;
  font-size: 16px !important;
  border-radius: 40px !important;
  overflow: hidden;
}

.linkColor {
  color: #3880ff;
  text-decoration: underline;

}

.googleCheck {
  margin-top: 25px;
  display: flex;
}

.welcome_icon {
  width: 20px;
  height: 20px;
}
.matches {
  font-size: 12px;
  font-weight: 400;
  margin-top: 16px;
}
.school_detail {
  font-size: 14px;
  font-weight: 400;
}
.selected-border {
  border: 1px solid #277AFF;
}
.container {
  margin: 20px 0 0 0;
}
.single_school {
  cursor: pointer;
}
