/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./theme/variables.scss";


ion-header {
  background-color: #ffffff !important;
  height: 48px;
  display: flex;
  align-items: center;
  ion-label {
    font-size: 15px !important;
    letter-spacing: 1.15px;
  }
  border-radius: 10px 10px 0px 0px;
}
.hash {
  font-size: 18px;
  color: #505868;
  padding-right: 5px;
}
.dailycheck_btn {
  text-transform: unset;
  width: 100%;
  font-size: 20px;
  --border-radius: 45px !important;
  height: 40px;
  box-shadow: none !important;
}
.dailycheck_btn:hover {
  background-color: $btn-hover;
  border-radius: 45px;
}
.h-line {
  margin-top: 22px;
  border-bottom: 1px solid $line-color;
  opacity: 1;
  box-shadow: 1px -1px $line-shadow;
}
.padT30 {
  padding-top: 30px !important;
}
.top-layout {
  padding-top: 30px;
}
.bottom-layout {
  position: fixed;
  bottom: 24px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
}
.sc-ion-input-ios-h {
  --padding-top: 10px;
  --padding-end: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  font-size: inherit;
  border: 1px solid #222;
  border-radius: 5px;
  color: #3e434e !important;
}
ion-icon {
  color: #161616;
}
ion-label {
  color: $light-text2;
  font-weight: 400;
}
ion-header {
  display: flex;
  justify-content: center;
  ion-toolbar {
    padding: 0 25px;
    width: 100% !important;
    min-width: 100%;
    ion-label {
      letter-spacing: 1.15px;
      font-weight: 400;
    }
    ion-select {
      max-width: 54px;
      overflow: hidden;
    }
  }
  .buttons-last-slot {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}
}
ion-radio {
  .radio-icon {
    --border-width: 0px;
    --border-style: solid;
    --border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}
.radio-inner {
  background: #222222 !important;
}
ion-toolbar {
  --background: #ffffff !important;
}
.header-ios ion-toolbar:last-of-type {
  --border-width: 0px !important;
}

ion-accordion-group {
  --ion-background-color: transparent !important;
  ion-accordion {
    padding: 0px 15px;
    border-bottom: 1px solid #3f3c55;
    ion-item {
      --border-width: 0;
      --padding-start: 0px !important;
      padding: 0px;
      ion-label {
        color: #000 !important;
        font-size: 14px !important;
        font-weight: 400;
        white-space: normal !important;
      }
    }
    ion-icon {
      // margin-inline: -15px !important;
      color: $color-no;
      font-size: 18px;
    }

    ion-list {
      ion-item {
        ion-label {
          color: $light-text2 !important;
          font-size: 14px !important;
          font-weight: 400;
        }
      }
    }
  }
}
ion-accordion.accordion-expanding > [slot="header"] .ion-accordion-toggle-icon,
ion-accordion.accordion-expanded > [slot="header"] .ion-accordion-toggle-icon {
  transform: rotate(180deg);
}
.freq-txt {
  text-align: left;
  color: $color-blue;
  padding: 20px 30px;
  font-size: 13px;
  font-weight: 400;
}
.daily-chk {
  color: $dailychk;
}
.toolbar {
  padding-left: 20px !important;
}
ion-content {
  --ion-background-color: #ffffff;
  .scrollable-element {
    scrollbar-color: red yellow;
  }
}
.ion-page {
  border-radius: 10px !important;
  margin: 0 0;
  background-color: #fe2762;
  color: $light-text2;
}
//Apply for Android App
body.is-native .ion-page {
  max-width: 100%;
  max-height: 100%;
}
// Apply for elctron app
body.is-web .ion-page {
  max-width: 700px;
  max-height: 840px;
}
.container {
  margin: 32px 0 0px 0;
  // min-height: 88%;
  background-color: #ffffff;
  background-size: 100% 100%;
  border-radius: 0px 0px 10px 10px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 12px !important;
  height: 12px !important;
  background: #74E792;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #00A044;
  opacity: unset;
}
.yesbtn {
  text-transform: unset;
  width: 50%;
  height: 38px;
  color: $text-color !important;
  --border-radius: 5px !important;
}
.daily-chk-blue {
  color: $color-blue;
}
.daily-chk-blk {
  color: $color-black;
}
.nobtn {
  text-transform: unset;
  width: 50%;
  height: 38px;
  --border-radius: 5px !important;
}
::-webkit-scrollbar {
  width: 7px;
  height: 0.2em;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track-piece {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #a3acbb;
  border-radius: 5px;
}
/*! Firefox */
html {
  scrollbar-color: #128612 #004e00;
}
/*! Other Browser */
html {
  --scrollbarBG: #0b0c1a;
  --thumbBG: #a3acbb;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: #a3acbb #0b0c1a;
}
body::-webkit-scrollbar-track {
  background: #0b0c1a;
  padding-right: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #0b0c1a;
  border-radius: 6px;
  border: 3px solid #a3acbb;
}

button,
ion-buttons,
.menuContent,
.ionMenubg,
ion-button,
.closebtn,
input,
.schoolList,
.accordion-sec,
.closeAppBtn,
a,
.learn-more,
.learnmore,
.noSchoolList-txt {
  -webkit-app-region: no-drag;
}

.closeAppBtn {
  z-index: 99 !important;
  right: 5px;
  top: 5px;
  position: absolute;
  ion-icon {
    font-size: 20px;
    color: #ffffff;
    --ionicon-stroke-width: 82px;
  }
  :hover {
    background-color: #fe2762;
  }
}
ion-loading {
    ion-backdrop {
        background-color: #ffffff;
    }
}
.button_disable_hover{
  --background: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  --padding-end: 0;
  --padding-start:0;
  --box-shadow: none;
  --border-radius: 0;
  margin: 4px 0 0 0;
}
.button_disable_hover_native {
  --background: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  --padding-end: 0;
  --padding-start: 0;
  --box-shadow: none;
  --border-radius: 0;
  margin: 24px 0 0 0;
}
.font_open_sans{
  font-family: 'Open Sans';
}
.app_margin {
  margin: 16px;
}
.submit_button_size {
  font-size: 14px;
  font-weight: 400;
  margin-inline-end: 0;
  margin-inline-start: 0;
}
.back_button {
  height: 32px;
  margin: 10px 6px;
  width: fit-content;
}


.headerbar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 32px 2px 16px 32px;

  .closeIcon {
      font-size: 24px;
      color: $light-text1;
      cursor: pointer;
  }

  // .closeIcon:hover {
  //     background-color: #42516E;
  //     border-radius: 50%;
  //     width: 29px;
  //     height: 29px;
  // }
}

.nativeheaderbar {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 48px 25px 16px 32px;

  .closeIcon {
    font-size: 24px;
    color: $light-text1;
    cursor: pointer;
  }

  // .closeIcon:hover {
  //   background-color: #42516E;
  //   border-radius: 50%;
  //   width: 29px;
  //   height: 29px;
  // }
}
.backIcon {
  font-size: 24px;
  color: $light-text1;
  width: 28px;
  height: 28px;
}
.backIconNative {
  margin-top: 40px;
  font-size: 24px;
  color: $light-text1;
  width: 28px;
  height: 28px;
}

// .backIcon:hover {
//   background-color: #42516E;
//   border-radius: 50%;
  
// }
.btn_margin {
  margin-inline-end: 0;
  margin-inline-start:0;
}

ion-breadcrumbs {
  --separator-margin: 0px !important;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  margin: 0 0 0 15px  ;
  display: flex !important;
  gap: 0px !important;
}

ion-breadcrumb::part(native) {
  padding: 0px !important;
}

.scrollable_content {
  -webkit-app-region: no-drag;
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch; /* Enables momentum scroll on macOS/iOS */
  touch-action: auto; 
}

.native_scrollable_content {
  -webkit-app-region: no-drag;
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  /* Enables momentum scroll on macOS/iOS */
  touch-action: auto;
  margin-bottom: 32px;
}

.content_paddding {
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    --padding-top: 0 !important;
    --padding-bottom: 0 !important;  
}

// .accordion-sec ion-accordion-group ion-accordion ion-icon {
//   margin-inline: 15px !important;
// }

.loadContent {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;     /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh;           /* Full screen height */
  text-align: center;
}
.loading-spinner.sc-ion-loading-md+.loading-content.sc-ion-loading-md {
  margin-inline-start: 0px !important
}